.counter_container{
    width: 50%;
    height: 50%;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.button,.counter{
    width: 5vw;
    height: 5vw;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}